@using asp.blazor.CalculatorSmc
@using asp.blazor.Components.CalculatorParts

@inherits SmcComponentBase<Calculator, CalculatorContext, CalculatorContext.CalculatorState>

<div class="header-container">
    <a href="@StorageLinkUrl" @onclick="ChangeStorage" @ref="storageLink" id="@StorageLinkClientID" class="hamburger-box">
 
        Session Storage: @Storage @((MarkupString)Encrypted)
    </a>
</div>

<CascadingValue Name="Main" Value="@Main">
    <Title/>
    <hr/>
    <DynamicComponent @ref="calculatorPart" Type="@pageType" Parameters="@errorParams"/>
    <hr/>
    <Footer @ref="footer"/>
</CascadingValue>
